<html style="background-color: gray">
    <body>
        <br><br><br>><br><br>
        <center>
        <table style="text-align: center" class="table is-bordered is-striped is-narrow is-hoverable container ">
            <tr>
                <th style="text-align: end" class="th is-link">NUEVA HOJA</th>
                <th class="th is-link"></th>
            </tr>
            <form action="create" method="POST"> 
            <tr>
                <th style="text-align: center" class="th is-black">CONCEPTO</th>
                <th class="th is-success"><input name="concepto" type="text" placeholder="Introducir Concepto" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">CANTIDAD</th>
                <th class="th is-success"><input name="cantidad" type="text" placeholder="Introducir  Cantidad" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">REPARACION </th>
                <th class="th is-success"><input name="reparacion" type="text" placeholder="Introducir Reparacion" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">MECANICO ID </th>
                <th class="th is-success"><input name="mecanicoResponsable_id" type="text" placeholder="Introducir ID" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th class="th is-link"></th>
                <th class="th is-link" style="text-align: center"><button class="button is-primary is-rounded">Agregar Cliente</button> </th>
            </tr>
            </form>
        </table>
            <br>
            <br>
            <div style="text-align: center">
              <a href="hoja" class="button is-dark is-rounded">Regresar</a>  
            </div>
            
        </div>
    </center>
    </body>
</html>