<!DOCTYPE html>
<html lang="en" style="background-color: gray">
<head>
  <meta charset="UTF-8" />
  <title>Menu</title>
</head>
<body>
  <center>
    <H1>.-MENU-.</H1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <a href="/cliente/cliente">Clientes</a> <a href="/vehiculo/vehiculo">Vehiculos</a> 
  <a href="/mecres/mecres">Mecanicos</a> <a href="/factura/factura">Factura</a>
  <a href="/responsable/responsable">Responsables</a> <a href="/hoja/hoja">Hojas de partes</a>
  <a href="/repuesto/repuesto">Repuestos</a>
</center>
  <section>
    </div>
  </section>
</body>
</html>
