<html style="background-color: gray">
    <body>
        <br><br><br>><br><br>
        <center>
        <table style="text-align: center" class="table is-bordered is-striped is-narrow is-hoverable container ">
            <tr>
                <th style="text-align: end" class="th is-link">NUEVA FACTURA</th>
                <th class="th is-link"></th>
            </tr>
            <form action="create" method="POST"> 
            <tr>
                <th style="text-align: center" class="th is-black">FECHA</th>
                <th class="th is-success"><input name="fecha" type="text" placeholder="Introducir Fecha" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">IMP PESOS</th>
                <th class="th is-success"><input name="imp_pesos" type="text" placeholder="Introducir Imp pesos" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">IMP DOL </th>
                <th class="th is-success"><input name="imp_dol" type="text" placeholder="Introducir Imp dol" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">RFC </th>
                <th class="th is-success"><input name="rfc" type="text" placeholder="Introducir RFC" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th class="th is-link"></th>
                <th class="th is-link" style="text-align: center"><button class="button is-primary is-rounded">Agregar Cliente</button> </th>
            </tr>
            </form>
        </table>
            <br>
            <br>
            <div style="text-align: center">
              <a href="factura" class="button is-dark is-rounded">Regresar</a>  
            </div>
            
        </div>
    </center>
    </body>
</html>