<html style="background-color: gray">
    <body>
        <br><br><br>><br><br>
        <center>
        <table style="text-align: center" class="table is-bordered is-striped is-narrow is-hoverable container ">
            <tr>
                <th style="text-align: end" class="th is-link">NUEVO VEHICULO</th>
                <th class="th is-link"></th>
            </tr>
            <form action="create" method="POST"> 
            
            <tr>
                <th style="text-align: center" class="th is-black">MODELO  </th>
                <th class="th is-success"><input name="modelo" type="text" placeholder="Introducir Modelo " style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">COLOR  </th>
                <th class="th is-success"><input name="color" type="text" placeholder="Introducir Color" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">FECHA  </th>
                <th class="th is-success"><input name="fecha" type="text" placeholder="Introducir Fecha"style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">HORA  </th>
                <th class="th is-success"><input name="hora_ent" type="text" placeholder="Introducir Hora" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">CLIENTE ID  </th>
                <th class="th is-success"><input name="cliente_id" type="text" placeholder="Introducir Cliente id" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th class="th is-link"></th>
                <th class="th is-link" style="text-align: center"><button class="button is-primary is-rounded">Agregar Cliente</button> </th>
            </tr>
            </form>
        </table>
            <br>
            <br>
            <div style="text-align: center">
              <a href="repuesto" class="button is-dark is-rounded">Regresar</a>  
            </div>
            
        </div>
    </center>
    </body>
</html>