<html style="background-color: gray">
    <body>
        <br><br><br>><br><br>
        <center>
        <table style="text-align: center" class="table is-bordered is-striped is-narrow is-hoverable container ">
            <tr>
                <th style="text-align: end" class="th is-link">NUEVO REPUESTO</th>
                <th class="th is-link"></th>
            </tr>
            <form action="create" method="POST"> 
            <tr>
                <th style="text-align: center" class="th is-black">DESCRIPCION</th>
                <th class="th is-success"><input name="descripcion" type="text" placeholder="Introducir Descripcion" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">COSTO UNITARIO</th>
                <th class="th is-success"><input name="costoUnit" type="text" placeholder="Introducir  Costo Unitario" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">PRECIO UNITARIO </th>
                <th class="th is-success"><input name="precioUnit" type="text" placeholder="Introducir Precio Unitario" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">IMPUESTO PARCIAL  </th>
                <th class="th is-success"><input name="impParcial" type="text" placeholder="Introducir Impuesto Parcial" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th style="text-align: center" class="th is-black">HOJA DE PARTE ID  </th>
                <th class="th is-success"><input name="hojaDeParte_id" type="text" placeholder="Introducir ID" style="text-align: center" class="message is-dark"> </th>
            </tr>
            <tr>
                <th class="th is-link"></th>
                <th class="th is-link" style="text-align: center"><button class="button is-primary is-rounded">Agregar Cliente</button> </th>
            </tr>
            </form>
        </table>
            <br>
            <br>
            <div style="text-align: center">
              <a href="repuesto" class="button is-dark is-rounded">Regresar</a>  
            </div>
            
        </div>
    </center>
    </body>
</html>